.title {
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
}

.input-container {
  text-align: center;
}

input {
  margin: 20px;
  width: 250px;
  background-color: grey;
  border-radius: 10px;
  padding: 5px;
  color: black;
}

input::placeholder {
  color: silver;
  font-weight: 600;
  font-size: 12px;
}

button {
  margin-right: 20px;
}

ul {
  flex-direction: column;
  align-items: center;
  margin: 10;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  text-align: center;
  list-style: none;
  font-size: xx-large;
  border-radius: 15px;
  border-style: solid;
  background-color: rgb(84, 195, 255);
  width: 200px;
  height: 100px;
  margin-bottom: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s, opacity 0.5s;
}

.item-exit {
  opacity: 1;
  transform: translateY(0%);
}

.item-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 500ms, transform 200ms;
}

